* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

fieldset {
  border: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #383838;
  width: 60%;
  height: 100vh;
}

.city-buttons div {
  padding: 1rem;
  margin: 3rem;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  text-align: center;
  font-size: 3.5rem;
  display: column;
}

.weather-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

#weatherResults {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #5A5353;*/
  background-color: #383838;
  width: 40%;
  height: 100vh;
}

#weatherResults p {
  padding: 1.5rem;
  color: white;
  border: 3px solid white;
  font-size: 2rem;
}

input[type="radio"] {
  /*visibility: hidden;*/
}

label:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
