* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5A5353;
  width: 67%;
  height: 100vh;
}

.city-buttons div {
  padding: 1rem;
  margin: 1rem;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  text-align: center;
  font-size: 3.5rem;
  display: inline-block;
}

.weather-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.weather-results {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #5A5353;*/
  background-color: red;
  width: 33%;
  height: 100vh;
}
